<ion-content>

<ion-header class="header1">
  <ion-toolbar class="header1" color="primary">
    
  </ion-toolbar>
  <ion-toolbar>
    <ion-img class="Logo" src="https://mateogutierrez.neocities.org/Logo-con-palito2.png" alt="Logo"></ion-img>
   
    <div class="BotonesH">
      <h2 class="separacion" style="cursor: pointer;"><a  class="Home"(click)="irAHome()">Inicio</a></h2>
    
    <h3 class="separacion" style="cursor: pointer;"><strong color="secondary" >Reporte Mensual</strong></h3>
  </div>
  </ion-toolbar>
</ion-header>


  <table class="report-table">
    <thead>
      <tr>
        <th>Mes</th>
        <th>Usuario</th>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let monthData of monthlyData">
        <tr *ngFor="let product of monthData.products">
          <td>{{ monthData.month }}</td>
          <td>{{ monthData.user }}</td>
          <td>{{ product.nombre }}</td>
          <td>{{ product.cantidad }}</td>
          <td>{{ product.precio | currency }}</td>
        </tr>
        <tr>
          <td colspan="4" class="total-label">Total de compra:</td>
          <td class="total-value">{{ monthData.totalCompra | currency }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>

</ion-content>
