ion-content {
    --background: #AEE4FF; // Fondo rosado transparente
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .welcome-modal-backdrop {
    backdrop-filter: blur(8px);
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .buttons-row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .modal-button {
    background-color: var(--ion-color-primary);
    color: white;
    border: 2px solid #FE0000; /* Añade un borde de 2px sólido */
    border-radius: 8px; /* Añade bordes redondeados */
  }
  
  .welcome-modal-content {
    background-color: #FFEBEE;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    max-width: 100%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    justify-content: center;
  }
  
  .Logo {
    height: 300px;
    margin-top: 20px;
  }
  
  .Inicio {
    color: #FF4081;
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .welcome-text {
    font-size: 1.5em;
    color: #0f8067;
    margin-bottom: 15px;
  }
  