@media screen and (min-width: 600px){
  .Logo{
    width: 150px;
  
    }
    .raya{
      color: #ffffff;
    }
    .header1{
    background-color: #FE0000;
    }
   
    .oferta-container {
      display: flex;
      align-items: center;
      position: absolute;
      top: 10px;
      left: 10px;
      background-color: #FE0000;
      color: white;
      padding: 2px 6px;
      border-radius: 3px;
      z-index: 1;
    }
    
    .oferta-icon {
      font-size: 18px;
      left: 150px;
      margin-right: 4px;
    }
    
    .oferta-text {
      font-size: 14px;
      font-weight: bold;
      margin-left: 4px;
    }
    
    .small-card {
      position: relative;
    }
    .contenedor{
      background-color: antiquewhite;
    }
    
    .BotonesH{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 0px;
      margin: 0%;
  
  
    }
    .separacion {
      margin-right: 150px; 
    }
  
    .mini-icon{
      color: #FE0000;
    }
    .custom-searchbar {
      
      justify-content: center;
      display: flex;
      align-items: center;
      width: 500px;
      margin: 0 auto;
      background-color: #ffffff;
      border-radius: 20px;
      padding: 5px;
      box-shadow: 0px 0px 5px #FE0000;
    }
    
    .search-input {
      flex-grow: 1;
      border: none;
      border-radius: 20px;
      padding: 10px;
      font-size: 16px;
      color: #999999;
    }
    
    .search-icon {
      background-color: #FE0000;
      
      border: none;
      border-radius: 20px;
      padding: 10px;
      margin-left: 5px;
      cursor: pointer;
    }
    
    .search-icon ion-icon {
      color:#ffffff;
  }
  .swiper-container {
    width: 100%;
    height: 100%;
    display:inline-block;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
  }
  
  .swiper-slide img {
    width: auto;
    height: auto;
  }
  
  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 78%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color:#001C30;
    border-radius: 50%;
    border: 1px solid #45CFDD;
    color:#fff ;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    z-index: 10;
  }
  
  .swiper-button-prev {
    left: 10px;
  }
  
  .swiper-button-next {
    right: 10px;
  }
  
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #001C30;
    margin-top: 50px;
    position: relative;
    top: 10%;
  }
  
  .footer-left {
    display: flex;
    align-items: center;
  }
  
   
  .footer-logo {
    width: 150px;
    height: 150px;
  }
  
  .footer-right {
    display: flex;
    align-items: center;
  }
  
  .social-icon {
    font-size: 24px;
    margin-left: 8px;
    color: white;
    width: 50px;
    height: 40px;
  }
  
  .contact-text {
    color: white;
    margin-right: 8px;
    font-size:20px;
  }
  
  
  .small-card {
    width: 200px; 
    height: 250px;
  }
  
  .small-card img {
    max-width: 80%;
    max-height: 100px; 
    display:flex;
    justify-content: center;
    align-items:center;
    image-orientation: center;
  }
  
  .tama単oimg {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imagen-centrada {
    display: block;
    margin: 0 auto;
  }
  
  .Carrito {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    color:#45CFDD;
  
  }
    
  }
  
  .Detalle{
    font-size:7px;
    justify-content: center;
    align-items:center;
    width: 100px;
    height: 30px;
    color:#45CFDD;
  
  }
  .small-card {
    margin-bottom: 100px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 10%;
  }
  .Letras{
    font-size:10px;
    justify-content: center;
    align-items:center;
  }
  .editar-fab {
    --ion-color-primary: #45CFDD;
    height: 34px;
    width: 40px;
  left:90%;
  }
  .contador {
    position: absolute;
    top: -1px;
    right: -10px;
    background-color: #FE0000;
    color: white;
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  
  
  
  @media screen and (max-width:600px ) and (min-width:480px){
    .Logo {
      width: 70px;
      margin-left: 10%;    
}
    .raya{
      color: #ffffff;
        }
    .custom-searchbar {
      justify-content: center;
      display: flex;
      align-items: center;
      width: 200px;
      height:30px;
      background-color: #ffffff;
      border-radius: 20px;
      box-shadow: 0px 0px 5px #FE0000;
    }
    
    .search-input {
      width: 170px;
      height:30px;
      border: none;
      border-radius: 20px;
      padding: 10px;
      font-size: 16px;
      color: #999999;
    }
    
    .search-icon {
      background-color: #FE0000;
      border: none;
      border-radius: 50px;
      padding: 7px;
      cursor: pointer;
    }
    
    .search-icon ion-icon {
      color: #ffffff;
    }
      
  .BotonesH {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    margin: 0%;
  }
  .separacion {
    margin-right: 30px;
  }
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    background-color: #001C30;
    margin-top: 200px;
    position: relative;
    top: 10%;
  }
  
  .footer-left {
    display: flex;
    align-items: center;
  }
  
  .footer-logo {
    width: 80px;
    height: 80px;
  }
  
  .footer-right {
    display: flex;
    align-items: center;
  }
  
  .social-icon {
    font-size: 24px;
    margin-left: 8px;
    color: white;
    width: 30px;
    height: 45px;
  }
  .contact-text {
    color: white;
    margin-right: 8px;
    font-size:14px;
  }
  .small-card {
    
    width: 100px;
    height: 140px;

  }
  
  .tama単oimg {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imagen-centrada {
    display: block;
    margin: 0 auto;
  }
  .producto-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .Carrito, .Detalle {
    margin-top: 10px; 
  }
  .contador {
    display: inline-block;
    vertical-align: middle;
  }
  .icon-col {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Carrito {
    top: -5px;
    font-size:10px;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 20px;
    color:#45CFDD;
  
  }
    
  
  
  .Detalle{
    top: -5px;
    font-size:10px;
    position: relative;
    justify-content: center;
    align-items:center;
    width: 50px;
    height: 20px;
    color:#45CFDD;
  
  }
 
  
 re-producto {
    margin-top: -10px;
    font-size: 7px;
  }
  .precio{
    font-size: 9px;
    margin: 2px;
  }
  
  
  .small-card {
    
    margin-bottom:40px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 10%;
  }
  
  .Letras{
    font-size:7px;
    justify-content: center;
    align-items:center;
  }
  .nombre-producto{
    font-size: 10px;

  }
  
  .contador {
    position: absolute;
    top: -1px;
    right: -10px;
    background-color: red;
    color: white;
    font-size: 8px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
   z-index:1;
  }
  .nombre-producto{
    font-size: 9px;

  }
}
.chat{
  width: 50px;
  position: relative;
  right: 20px;
  bottom: 180px;
  float: left;
  position: fixed;
  overflow:hidden;
z-index:100;
top:80%
}
.oferta-container {
  display: flex;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #FE0000;
  color: white;
  padding: 2px 6px;
  border-radius: 3px;
  z-index: 1;
}

.oferta-icon {
  font-size: 4px;
  margin-right: 5px;
  color: #FE0000;
  left: 150px;
}

.oferta-text {
  font-size: 7px;
  font-weight: bold;
  margin-left: 4px;
  margin-top: 2px;
}
.small-card {
  position: relative;
}

  
  
  @media screen and  (max-width: 480px) {
    .Logo {
      width: 60px;
    }
    .raya{
      color: #ffffff;
    }
  
    .oferta-container {
      display: flex;
      align-items: center;
      position: absolute;
      top: 10px;
      left: 10px;
      background-color: #FE0000;
      color: white;
      padding: 2px 6px;
      border-radius: 3px;
      z-index: 1;
    }
    
    .oferta-icon {
      font-size: 4px;
      margin-right: 5px;
      color: #FE0000;
      left: 150px;
    }
    
    .oferta-text {
      font-size: 7px;
      font-weight: bold;
      margin-left: 4px;  
      margin-top: 2px;
    }
    .small-card {
      position: relative;
    }
  .header1 {
    background-color: #FE0000;
  }
  
  .contenedor {
    background-color: antiquewhite;
  }
  .imagen-centrada {
    display: block;
    margin: 0 auto;
  }
  
  .BotonesH {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    margin: 0%;
  }
  
  
  
  .separacion {
    margin-right: 30px;
  }
  
  .BotonesH h2 {
    font-size: 16px;
  }
  
  .contact-text {
    color: white;
    margin-right: 8px;
    font-size:7px;
  }
  
  
  .custom-searchbar {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 200px;
    height:30px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #FE0000;
  }
  
  .search-input {
    width: 170px;
    height:30px;
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 16px;
    color: #999999;
  }
  
  .search-icon {
    background-color: #FE0000;
    border: none;
    border-radius: 50px;
    padding: 7px;
    cursor: pointer;
  }
  
  .search-icon ion-icon {
    color: #ffffff;
  }
  
  .swiper-container {
    width: 100%;
    height: 100%;
    display: inline-block;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
  }
  
  .swiper-slide img {
    width: auto;
    height: auto;
  }
  



  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    background-color: #001C30;
    margin-top: 200px;
    position: relative;
    top: 10%;
  }
  
  .footer-left {
    display: flex;
    align-items: center;
  }
  
  .footer-logo {
    width: 50px;
    height: 50px;
  }
  
  .footer-right {
    display: flex;
    align-items: center;
  }
  
  .social-icon {
    font-size: 24px;
    margin-left: 8px;
    color: white;
    width: 20px;
    height: 40px;
  }
  
  .contact-text {
    color: white;
    margin-right: 8px;
    font-size: 20px;
  }
  .prueba{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   }
  .small-card {
    
    width: 100px; 
    height: 140px;
  }
  
  .tama単oimg {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imagen-centrada {
    display: block;
    margin: 0 auto;
  }
  
  .Carrito {
    top: -5px;
    font-size:10px;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 20px;
    color:#45CFDD;
  
  }
    
  
  
  .Detalle{
    top: -5px;
    font-size:10px;
    position: relative;
    justify-content: center;
    align-items:center;
    width: 50px;
    height: 20px;
    color:#45CFDD;
  
  }
 re-producto {
    margin-top: -10px;
    font-size: 7px;
  }
  .precio{
    font-size: 9px;
    margin: 2px;
  }
  
  
  .small-card {
    
    margin-bottom:40px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 10%;
  }
  
  .Letras{
    font-size:10px;
    justify-content: center;
    align-items:center;
  }
  .nombre-producto{
    font-size: 12px;

  }
  
  .contador {
    position: absolute;
    top: -1px;
    right: -10px;
    background-color: red;
    color: white;
    font-size: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
   z-index:1;
  }
}
.chat{
  width: 50px;
  position: relative;
  right: 20px;
  bottom: 180px;
  float: left;
  position: fixed;
  overflow:hidden;
z-index:100;
top:80%
}
.prueba {
  ion-card {
    position: relative; 
    
    .oferta-icon {
      position: absolute;
      top: 0;
      left: 1%; 
      right: 0; 
      z-index: 1;
      background-color: white; 
      border-radius: 50%; 
      padding: 5px; 
      width: 15px;
      height: 15px;
      color: #FE0000;
    }
  }
}
@media screen and (max-width: 369px) {
  .raya{
    color: #ffffff;
  }
  .small-card {
    
    width: 130px; 
    height: 140px;
    left: 6%;
  }
  .oferta-container {
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #FE0000;
    color: white;
    padding: 2px 6px;
    border-radius: 3px;
    z-index: 1;
  }
  
  .oferta-icon {
    font-size: 4px;
    margin-right: 5px;
    color: #FE0000;
    left: 150px;
  }
  
  .oferta-text {
    font-size: 7px;
    font-weight: bold;
    margin-left: 4px;
    margin-top: 2px;
  }
  .small-card {
    position: relative;
  }
  .tama単oimg {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imagen-centrada {
    display: block;
    margin: 0 auto;
  }
  
  .Detalle{
    top: -10px;
    font-size:10px;
    position: relative;
    justify-content: center;
    align-items:center;
    width: 60px;
    height: 30px;
    color:#45CFDD;
  
  }
  .Carrito {
    top: -10px;
    font-size:10px;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 25px;
    color:#45CFDD;
  
  }
  .prueba {
    ion-card {
      position: relative;
      
      .oferta-icon {
        position: absolute; 
        top: 0;
        left: 1%;
        right: 0; 
        z-index: 1;
        background-color: white; 
        border-radius: 50%;
        padding: 5px; 
        width: 15px;
        height: 15px;
        color: #FE0000;
      }
    }
  }
}

@media screen and (max-width: 330px) {
  .custom-searchbar {
      
    justify-content: center;
    display: flex;
    align-items: center;
    width: 150px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0px 0px 5px #FE0000;
  }
  
  .search-input {
    flex-grow: 1;
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 16px;
    color: #999999;
  }
  
  .search-icon {
    background-color: #FE0000;
    
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin-left: 5px;
    cursor: pointer;
  }
  
  .search-icon ion-icon {
    color:#ffffff;
}
.search-input{
  width: 100px;
  font-size: 10px;
}
}